.button {
  @include ma-pa-reset;
  min-height: 55px;
  background-color: $active-color;
  border: 3px solid $active-color;
  font-family: "Open Sans Semibold", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: $white-color;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  transition: 0.3s;

  &:hover {
    background-color: transparent;
    border: 3px solid $text-color;
    color: $text-color;
  }
}