.navigation__list {
  @include list-reset;
}
.navigation__link { 
  font-size: 20px;
  color: $text-color;
  padding-right: 30px;
  transition: 0.3s;
    &:hover {
      @include link-reset;
      color: $active-color;
    }
}
.btn-search {
  border: none;
  background-color: transparent;
  transition: 0.3s;
  &:hover svg {
    fill: $active-color;
  }
}