.section__title {
  @include ma-pa-reset;
  margin-bottom: 36px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color;
}

.section__text {
  @include ma-pa-reset;
}