$white-color: #ffffff;
$black-color: #000000;
$text-color: #212121;
$active-color: #00897b;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1400px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
